/* ------------------
Основні кольори
------------------- */
:root {
    /* Кольори для фону */
    --background-color: #FFFFFF;
    --background-secondary-color: #443d44;
    --background-third-color: #F5F4FA;
    --background-backdrop-menu-color: #f9f4f8;

    /* Кольори для офомлення акцентів */
    --primary-color: #d8bfd8;
    --secondary-color: #FFFFFF;

    /* #dbbcdb; */
    /* #c1d6c2; */

    /* Кольори для шрифтів */


    --text-color: #242124;
    --title-color: #212121;
}


/* -------------
Обнулення стилів 
---------------- */
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* ----------------------------
Загальні стилі для body та його елементів
------------------------------- */
body {
    font-family: Arsenal,
        sans-serif;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.btn {
    font-family: inherit;
    font-size: 16px;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------------------
Стилі для логотип
------------------------ */
.logo {
    color: var(--primary-color);
    font-family: Arsenal, sans-serif;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 0.7px;
}

.logo>.header-logo-part {
    color: var(--background-secondary-color);
}

.logo>.footer-logo-part {
    color: var(--secondary-color);
}


/* ------------------------
Header
------------------------ */

.header .container {
    display: flex;
}

.header {
    border-bottom: 1px solid var(--background-backdrop-menu-color);
}

.main-navigation {
    display: flex;
    align-items: center;
}

.header .logo {
    display: flex;
    margin-right: 50px;
}

.nav-menu-list {
    display: flex;
}

.nav-menu-list .item:not(:last-child) {
    margin-right: 100px;
}

.nav-menu-list .item {
    position: relative;
}

.nav-menu-link {
    position: relative;
    display: flex;

    padding-top: 32px;
    padding-bottom: 32px;

    align-items: center;

    font-weight: 700;
    text-transform: uppercase;
}

.nav-menu-link,
.nav-submenu-link {
    line-height: 1.2;
    letter-spacing: 0.28px;
    color: var(--title-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-list .item:focus .nav-menu-link,
.nav-menu-list .item:hover .nav-menu-link,
.nav-menu-list .item:active .nav-menu-link {
    color: var(--primary-color);
}

.current-page {
    color: var(--primary-color);
}

.nav-menu-link::after {
    display: block;
    position: absolute;

    content: '';

    bottom: 0;
    left: 0;

    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover::after {
    transform: scaleX(1.70);
}

.nav-submenu-list {
    position: absolute;
    display: list-item;
    opacity: 0;

    pointer-events: none;
    /* overflow: hidden; */

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    left: -60%;
    top: 100%;
    width: 250%;

    background-color: #f9f4f8;
}

.nav-submenu-link {
    display: block;

    padding: 5px 10px;

    font-size: 16px;
}

.nav-submenu-link:hover,
.nav-submenu-link:focus {
    color: var(--primary-color);
}

.nav-menu-list .item:focus .nav-submenu-list,
.nav-menu-list .item:hover .nav-submenu-list,
.nav-menu-list .item:active .nav-submenu-list {
    opacity: 1;
    pointer-events: visible;

}


/* ---------------------
Кнопка ЗАМОВИТИ/КОНСУЛЬТАЦІЯ модального вікна
--------------------- */
.modal-btn {
    margin: auto;
    margin-right: 0;
}

.header .btn {
    display: inline-block;

    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;

    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--secondary-color);

    text-align: center;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .btn:active,
.header .btn:focus,
.header .btn:hover {
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.header .btn.send {
    padding-top: 10px;
    padding-right: 52px;
    padding-bottom: 10px;
    padding-left: 52px;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .btn.send:active,
.header .btn.send:focus,
.header .btn.send:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* ----------------------------------- */
/* Модальне вікно */
/* ----------------------------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;

    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;

    min-width: 534px;
    min-height: 587px;
    background-color: #fff;
    color: #000000;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

/* -------------------
Кнопка ЗАКРИТИ в Модальному вікні 
----------------------*/
.btn-close {
    position: absolute;

    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 0;

    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    background-color: #FFF;
}

.btn-close:hover,
.btn-close:focus {
    cursor: pointer;
    border-color: var(--primary-color);
}

.btn-close:before,
.btn-close:after {
    position: absolute;
    content: '';

    width: 18px;
    height: 2px;

    top: 50%;
    left: 50%;

    background: black;
}

.btn-close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn-close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* -------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------
Section Hero 
------------------------------------------------------------------------------*/
.hero {
    max-width: 1600px;
    /* height: 600px; */
    margin-left: auto;
    margin-right: auto;

    background-color: #C4C4C4;
    /* 
    background-image: linear-gradient(to right, rgba(40, 48, 58, 0.40), rgba(40, 48, 58, 0.40)),
        url(../images/photo1713091965opti.jpg); */

    background-image: linear-gradient(to right, rgba(208, 208, 208, 0.30), rgba(208, 208, 208, 0.0)),
        url(../images/photo1713091965opti.jpg);


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 200px;
    padding-bottom: 200px;

    color: var(--secondary-color);
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
}

/* ------------------------------------
Section About US 
---------------------------------------*/
.about-us {
    padding-bottom: 0;
}

/* ----------------------
Realisation section 
---------------------------*/
.realisation {
    padding-bottom: 0;
}

/* ------------------------------------
Questions section
---------------------------------------*/
.questions {}



/* ----------------------
Business processes section 
---------------------------*/
.business-processes {
    padding-bottom: 0;
}


/* ----------------------
Optimization Business processes section 
---------------------------*/
.opti-bp {
    padding-bottom: 0;
}

/* ----------------------
Fin-models section 
---------------------------*/
.fin-models {
    padding-bottom: 0;
}

/* ----------------------
Busines plan section 
---------------------------*/
.business-plan {
    padding-bottom: 0;
}

/* ----------------------
Education section
---------------------------*/
.education {
    padding-bottom: 0;
}

/* ----------------------
Trainings section
---------------------------*/
.trainings {}




/* ----------------------
Mental health section 
---------------------------*/
.mental-health {
    padding-bottom: 0;
}


/* ----------------------
Womens business section 
---------------------------*/
.womens-business {}





/* --------------------------
Footer 
-----------------------------*/
footer {
    background-color: var(--background-secondary-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer>.container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
}

.footer .logo {
    display: block;
}

.footer .address {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.footer .address-text {
    color: var(--secondary-color);
}

.footer .link {
    display: block;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover,
.footer .link:focus {
    color: var(--primary-color);
}

.footer .item-social {
    display: flex;
}

.footer .social-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF1A;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link-item:not(:last-child) {
    margin-right: 10px;
}

.footer .social-link-icon {
    display: block;
    fill: var(--secondary-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--background-secondary-color);
}


/*----------------------------
 Experts section
 ----------------------------*/
/* .team {
    background-color: var(--background-third-color);
}

.team .list {
    display: flex;
    flex-wrap: wrap;

}

.team .item {
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: var(--secondary-color);
}

.team .item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.team .member-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .member-name {
    margin-bottom: 10px;
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-align: center;
}

.team .member-position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-align: center;
}

.team .member-social {
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;

    justify-content: space-between;
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon {
    display: block;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--primary-color);
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
    fill: var(--secondary-color);
} */



/* -------------------------------------
Portfolio section 
---------------------------------------*/
/* .portfolio-button-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-filter-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-filter-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    border: none;
    border-radius: 4px;
    background-color: var(--background-third-color);
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-button:focus,
.portfolio-filter-button:hover,
.portfolio-filter-button:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

} */

/* Портфоліо приклади робіт */

/* .portfilio-examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio-item {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;

    position: relative;
}

.portfolio-link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-pic-descript {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;

    background: #FFF;
}

.portfolio-project-name {
    margin-bottom: 4px;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2.0;
    letter-spacing: 1.08px;
}

.portfolio-area {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.48px;
} */

/* Портфоліо Оверлей */

/* .portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;

    transform: translateY(calc(100%));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.03em;

    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
    opacity: 1;
    transform: translateY(calc(0%));
} */