@import './utils/vars';
@import './utils/breakpoints';
@import './utils/general-styles';

@import './components/header-style';

@import './components/mobile-menu';

@import './components/logo-style';
@import './components/button-styles';

@import './components/modal-form';

@import './components/hero';

@import './components/helping-with';
@import './components/benefits';
@import './components/clients';

@import './components/ceo';

@import './components/services';
@import './components/blog';
@import './components/education';

@import './components/footer-style';