/* =======================
BENEFITS section 
==========================*/

.benefits {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)),
                url(/images/jpg/benefits_pic.jpg);
        
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;

    @media screen and (max-width: 767px) {
        display: block;
    }

    &-item {
        margin-bottom: 30px;

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        @media screen and (min-width: $tablet) and (max-width: 1199px) {
            width: calc((100% - 60px) / 2);
        }

        @media screen and (min-width: $desktop) {
            width: calc((100% - 60px) / 3);
        }

    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        &-item:not(:nth-child(2n)) {
            margin-right: 30px;
        }
    }

    @media screen and (min-width: $desktop) {
        &-item:not(:nth-child(3n)) {
            margin-right: 30px;
        }
    }
}

.benefits__list-item {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.benefits__description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.benefits__icon {
    margin-bottom: 20px;

    fill: $pic-color;
}

.benefits__name {
    margin-bottom: 20px;
    color: $dark-pink-color-accent;
}

.benefits__text, 
.benefits__name {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.38px;
    text-align: center;
}      

.benefits__text {
    padding-left: 20px;
    padding-right: 20px;
}