/* =======================
CEO section 
==========================*/
.ceo__container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;    
  }

.ceo__left-part {
    width: 400px;
    height: 400px;

    overflow: hidden;

    border-radius: 50%;
    border: 5px double $background-secondary-color;
}

.ceo__right-part {
    width: 500px;
    text-align: end;

    @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
}

.ceo__img {
    max-width: 100%;
    transform: translateY(-60px);
}