/* ===========================
Section HERO
============================== */
.hero {
    
    margin-top: 81px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid $primary-color;

    max-height: fit-content;

    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url(/images/svg/hero_pic.svg);

    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    text-align: left;

    @media screen and (max-width: 767px) {
        margin-top: 61px;
        
        width: 100%;
        max-width: 767px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: 100%;
        max-width: 1199px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1920px;

        padding-top: 200px;
    /* padding-bottom: 200px; */
}

    &__title {
    margin-right: auto;
    margin-left: auto;
    // margin-bottom: 50px;
    font-size: 120px;
    font-weight: 400;

    line-height: 1;
    letter-spacing: 2px;
    color: $text-color;
  
    @media screen and (max-width: 767px) {
            font-size: 64px;
        }
    
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
            font-size: 120px;
        }

    z-index: 2;
    transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

    &__overlay-text {
    color: transparent;
    transform: translateY(-120%);
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1), color 1500ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: $font-italic;
    font-size: 40px;
}

&:hover &__title {
    transform: translateY(-65%);      
}

&:hover &__overlay-text {
    transform: translateY(-190%);    
    color: $text-color;
    
    @media screen and (max-width: 767px) {
    transform: translateY(-120%);
        }

}
}